table {
  width: 100%;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0,0,0,0.15);
  display: flex;
  align-self: center;
  justify-content: center;
}

.container {
  display: flex;
}

.button {
 // align-items: flex-end;
 flex-direction: row;
 justify-content: flex-end;
}